/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #2E2E2E;
    color: #FFFFFF;
    line-height: 1.6;
}
/* ================
   Game Start Styles
   ================ */
.gamestart-page {
    text-align: center;
}

.gamestart-page .container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: #9EB1C5;
    color: #84572f;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.gamestart-page button {
    background: #ddd498;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #84572f;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.gamestart-page button:hover {
    background: #C5D1DF;
    color: #84572f;
}