body {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    width: 100vw; 
    /* -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;  */
    overflow: auto;
    background-image: url(../../public/images/imggen_bg.jpg); 
}

.img-prompt {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    opacity: 0.8;
    resize: none;
    background-color: #6586cb;
    color: #bacdee;
}
.img-prompt::placeholder {
    color: #bacdee; 
    opacity: 1; 
}
.img-prompt:focus {
    border-color: #e2b547; 
  }
.imggen-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: rgba(6, 3, 37, 0.7); */
    padding: 15px;
}

.img-display{
    border-radius: 15px;
    margin: 10px 0px 10px 20px;
}
.default-img {
    border-radius: 20px; 
}
