body{
    overflow: hidden;
}
.imggen-container {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    width: 100%; 
    overflow: auto;
    background-color: #f5ec89;
    background-image: url(http://www.transparenttextures.com/patterns/brushed-alum-dark.png);
}
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #84572f;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color {
    background-image: linear-gradient(to right, #9EB1C5, #7f9ddf, #C5D1DF, #9EB1C5);
    box-shadow: 0 4px 15px 0 #6586cb;
}
.img-prompt span, h1{
    color: #84572f;
}
.img-prompt {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    opacity: 0.8;
    resize: none;
    background-color: #6586cb;
    color: #bacdee;
}
.img-prompt::placeholder {
    color: #bacdee; 
    opacity: 1; 
}
.img-prompt:focus {
    border-color: #e2b547; 
  }
.imggen-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: rgba(6, 3, 37, 0.7); */
    padding: 15px;
}

.img-display{
    border-radius: 15px;
    margin: 10px 0px 10px 20px;
}
.default-img {
    border-radius: 20px; 
}
