<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Page</title>
    <script defer src="../src/lib/face-api.min.js"></script>
    <script src="../src/lib/face-api.js"></script>
    <script defer src="../src/lib/script.js"></script>
    <link rel="stylesheet" href="../templates/styles/styleIdLogin.css" />
  </head>
  <body>
    <div class="video-container">
      <video id="video" autoplay></video>
      <canvas id="canvas"></canvas>
    </div>
    
    <button class="back-btn" onclick="window.location.href='../public/index.php'">Back to Home</button>
  </body>
</html>
